.bg-image{
  background-image: url(./Pictures/outdoor.png);
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  color: #c8ff00;
}


@media (min-width:768px){
  .hangover{
  position: absolute;
  bottom: -5rem;
  margin-bottom: 0;
}
}

.heading{
  font-family: 'lobster', cursive;
}

.mt-6{
  margin-top: 6rem;
}

